<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link th:href="@{/css/main.css}" rel="stylesheet"/>
<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js" th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
<script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>

<head th:replace="fragments/header :: header"></head>
<body>
<script th:inline="javascript">
//<![CDATA[
	function init() {
		var dataX = document.getElementById("XAsis").value;
		var dataY = document.getElementById("YAsis").value;
		var XHead = document.getElementById("XHead").value;
		var yHead = document.getElementById("YHead").value;

		var XinParts = dataX.split(',');
		var YinParts = dataY.split(',');

		if (XinParts.lenght != YinParts.lenght) {
			alert("Wrong Datas!");
			return false;
		}
		var datatable = new Array();
		var l = XinParts.length;
		
		XinParts[0] = XinParts[0].replace('[','');
		YinParts[0] = YinParts[0].replace('[','');
		XinParts[XinParts.length] = XinParts[XinParts.length-1].replace('[','');
		XinParts[YinParts.length] = XinParts[YinParts.length-1].replace('[','');
		
		
		
		for(var i=0; i<l; i++) {
			datatable.push({x: parseFloat(XinParts[i]), y: parseFloat(YinParts[i])});
        }
		
		var chart = new CanvasJS.Chart("chartContainer",{
			zoomEnabled: true,
		    zoomType: "xy", 
			title :{
				text: "Chart Generated"
			},
			axisX: {						
				title: XHead
			},
			axisY: {						
				title: yHead
			},
			data: [{
				type: "line",
				dataPoints : datatable
			}]
		});
		 
		chart.render();
		
	}
	/*]]>*/
</script>
<div style="display: none" th:each="type : ${dataJsonX}">
				<input th:type="list" name="XAsis" th:value="${type}" th:text="${type}" id="XAsis"></input><br/>
</div>
<div style="display: none" th:each="type : ${dataJsonY}">
				<input th:type="list" name="YAsis" th:value="${type}" th:text="${type}" id="YAsis"></input><br/>
</div>

<input style="display: none" th:type="list" name="XHead" th:value="${XHeader}"  id="XHead"></input><br/>
<input style="display: none" th:type="list" name="YHead" th:value="${YHeader}"  id="YHead"></input><br/>

<div align="center">
<button onclick="init()" class="btn btn-primary">Generate Chart</button>
</div>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<div lang="en" th:replace="fragments/footer :: footer"></div>
</body>
</html>