<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/main.css}" rel="stylesheet"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js" th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
<head th:replace="fragments/header :: header"></head>
<body>
<div align="center" style="background-color: buttonshadow; font-size: large;" >
Choose data to match
</div>
<form action="/charts" method="post">
<div id="FilesColumn" class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
    <div th:each="type : ${DataRow1}">
	      <label >
				 <input th:value="${type}" th:text="${type}" type="radio" name="DataRow1data" value="attribute"></input><br/>
		  </label>
	    </div>
    </div>
    
    <div class="col-sm-4" style="background-color:lavender;">    
	    <div th:each="type : ${DataRow2}">
	      <label >
				 <input th:value="${type}" th:text="${type}" type="radio" name="DataRow2data" value="attribute"></input><br/>
		  </label>
	    </div>
    </div>
    <div class="col-sm-5"></div><br/>
  </div>
  <div align="center">
    <button type="submit" value="GenerateChart" class="btn btn-primary">Generate Chart</button>
  </div>
</form>
<div lang="en" th:replace="fragments/footer :: footer"></div>
</body>
</html>