<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link th:href="@{/css/Secondary.css}" rel="stylesheet"/>
<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js" th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
<script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script th:src="@{/js/ajaxfunctions.js}" rel="stylesheet" type="text/javascript"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<head th:replace="fragments/header :: header"></head>
<body>
<script th:inline="javascript">
//<![CDATA[
	
function init() {
	var files = document.getElementById("dLabel");
	var XValues = document.getElementById("ValuesXplaceholder");
	var yValues = document.getElementById("ValuesYplaceholder");
	var filestable=[];
	
	var HEADERS=[];
	var VALUES=[];
	
	
	
	for(var i=0;i<files.length;i++){
		filestable.push(files.options[i].text);
		for(var j =0;j<files.length;j++){
			if(objectsMap[j].name == files.options[i].text){
				HEADERS.push(objectsMap[j].HEADERS);
				VALUES.push(objectsMap[j].VALUES);
			}
		}
		
	}
	var radioIDsX=[];
	var radioIDsY=[];
	for(var i=0; i<filestable.length;i++){
		 radioIDsX.push("DataRowXdatafor"+filestable[i]);
		 radioIDsY.push("DataRowYdatafor"+filestable[i]);
	}
	
	var XradioValues=[];
	var YradioValues=[];
	
	for(var i=0;i<filestable.length;i++){
		if(document.querySelector('input[name="'+radioIDsX[i]+'"]:checked')!=null){
			XradioValues.push(document.querySelector('input[name="'+radioIDsX[i]+'"]:checked').value);
		}
		if(document.querySelector('input[name="'+radioIDsY[i]+'"]:checked')!=null){
			YradioValues.push(document.querySelector('input[name="'+radioIDsY[i]+'"]:checked').value);
		}
	}
	
	var XAsisValues = VALUES[HEADERS[0].indexOf(XradioValues[0])];
	var YAsiValues =[];
	for(var j=0; j<YradioValues.length; j++){
		YAsiValues.push(VALUES[HEADERS[0].indexOf(YradioValues[j])]);
	}
	
	
	
	var datatable = [];
	for(var i=0; i<YradioValues.length; i++) {
		datatable.push({x: parseFloat(XinParts[i]), y: parseFloat(YinParts[i])});
    }
	
	var chart = new CanvasJS.Chart("chartContainer",{
		zoomEnabled: true,
	    zoomType: "xy",
	    animationEnabled: true,
	    animationDuration: 4000,
	    exportEnabled: true,
	    interactivityEnabled: true,
		title :{
			text: "Chart Generated"
		},
		axisX: {						
			title: XHead
		},
		axisY: {						
			title: yHead
		},
		data: [{
			type: "line",
			dataPoints : datatable
		}]
	});
	 
	chart.render();
	
}
/*]]>*/
</script>

<div id="Form" align="center" class="container" >
	<form id="GetFilesForm" method="post" class="form-search">
	<div class="input-group">
	  <input id="GetFilesFormInput" type="text" name="filename" class="input-medium search-query form-control" placeholder="File name pattern"></input><span class="input-group-btn">
	  <button id="GetFilesFormButton" type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</button> </span>
	  </div>
	</form>
</div>

<div>
	<form id="CommitFiles" method="post">
	<div class="row">
	 <div class="col-sm-1"></div>
	 
	    <div id="DropdownMenu" class="col-sm-1">
			<div class="dropdown">
				<select id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				</select>
			</div>
		</div>
		<div class="col-sm-1"></div>
	    <div id="ValuesXplaceholder" class="col-sm-3" style="background-color:lavender;">    
		    

	    </div>
	    <div class="col-sm-1"></div>
	    <div id="ValuesYplaceholder" class="col-sm-3" style="background-color:lavender;">    
		    

	    </div>
	    </div>
	    <div align="center">
		     <button onclick="init();" style="text-align: center;" type="submit" value="GenerateChart" class="btn btn-primary">Generate Chart</button>
		</div>
	</form>
</div>

<div id="ChartTab" class="tabcontent">
<div style="display: none">
				<select id="XAsisSelection">
					
				</select>
</div>
<div style="display: none">
				<select id="YAsisSelection">
					
				</select>
</div>

<div align="center">
<button onclick="init()" class="btn btn-primary">Generate Chart</button>
</div>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
</div>

</body>
<div lang="en" th:replace="fragments/footer :: footer"></div>
</html>